{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}
    {% if user.is_authenticated and user.user_status == 1 %}

        <!-- Page Content -->
        <div class="container">

            <div class="row">

                <div class="col-lg-8">

                    <h1>{{ post.title }}</h1>

                    <p class="lead">
                        Bu yazi <a href="#">{{ post.user }}</a> tarafindan, <span class="glyphicon glyphicon-time"></span> {{ post.release_date }} tarihinde yayinlanmistir.</p>

                    <hr>

                    <p>{{ post.message|linebreaks }}</p>

                    <hr>
                </div>
            </div>
        </div>
    {% else %}
        <p>Bu alani gorme yetkiniz yok...</p>
    {% endif %}


{% endblock %}