{% extends "base.html" %}
{% load i18n %}

{% block content %}

            <a href="{% url 'comodo:user_material_list' %}"
                                         class="btn btn-success btn-lg btn-block" role="button">Malzeme Listesi</a>
        <a href="{% url 'comodo:material_create' %}"
                                         class="btn btn-info btn-lg btn-block" role="button">Malzeme Ekle</a>
    <br>

    {% for post in postList %}
        {#        <a href="{% url 'comodo:detail' post.id %}">{{ post.title }}</a></br></br>#}
        {% if post.is_accomplished %}

{#        <div class="col-md-4 text-center">#}
{#            <a href="{% url 'comodo:detail' post.id %}" class="thumbnail" data-toggle='tooltip' data-placement='bottom'#}
{#               title='Buraya Açıklama Yazısı Eklenecektir.!'>#}
{##}
{#                <img src="http://lorempixel.com/image_output/abstract-q-c-640-480-8.jpg" alt="Pulpit Rock"#}
{#                     style="width:230px;height:230px">#}
{#                <p>{{ post.title }}</p>#}
{#            </a>#}
{#        </div>#}
            <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-1">
                <div class="post-preview">
                    <a href="{% url 'comodo:detail' post.id %}">
                        <h2 class="post-title">
                            {{ post.title }}
                        </h2>
                        <h3 class="post-subtitle">
                        </h3>
                    </a>
                    <p class="post-meta">Posted by <a href="{% url 'comodo:detail' post.user.id %}">Start Bootstrap</a> on {{ post.release_date }}</p>
                </div>
                <hr>
            </div>
            </div></div>

{#<div class="container">#}
{#            <div class="row bg-danger">#}
{#                <div class="col-md-4 col-sm-6 portfolio-item bg-success">#}
{#                    <a href="{% url 'comodo:detail' post.id %}" class="portfolio-link" data-toggle="modal">#}
{#                        <div class="portfolio-hover">#}
{#                            <div class="portfolio-hover-content">#}
{#                                <i class="fa fa-plus fa-3x"></i>#}
{#                            </div>#}
{#                        </div>#}
{#                        <img src="http://lorempixel.com/image_output/abstract-q-c-640-480-8.jpg" class="img-responsive" alt="">#}
{#                    </a>#}
{#                    <div class="portfolio-caption bg-primary">#}
{#                        <h4 class="danger">{{ post.title }}</h4>#}
{#                        <p class="text-muted bg-info">{{ post.user }} Tarafindan yazildi...</p>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#</div>#}
       {% endif %}

    {% endfor %}

    {% if is_paginated %}
        {#    <div class="pagination">#}
        {#        <span class="page-links">#}
        {#            {% if page_obj.has_previous %}#}
        {#            <a href="?page={{ page_obj.previous_page_number }}">previous</a>#}
        {#            {% endif %}#}
        {#            <span class="page-current">#}
        {#                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}#}
        {#            </span>#}
        {#            {% if page_obj.has_next %}#}
        {#            <a href="?page={{ page_obj.next_page_number }}">next</a>#}
        {#            {% endif %}#}
        {#        </span>#}
        {#    </div>#}
        <nav>
            <ul class="pagination">
                <li>
                    {% if page_obj.has_previous %}
                        <a href="?page={{ page_obj.previous_page_number }}" aria-label="Previous"><span
                                aria-hidden="true">&raquo;</span></a>
                    {% endif %}
                    </a>
                </li>
                {% for pages in page_numbers %}
                    <li><a href="?page={{ pages }}">{{ pages }}</a></li>
                {% endfor %}
                <li>
                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}" aria-label="Next"><span
                                aria-hidden="true">&raquo;</span></a>
                    {% endif %}
                </li>
            </ul>
        </nav>
    {% endif %}


    {##}
    {#{% else %}#}
    {#    <p>No polls.</p>#}
    {#{% endif %}#}

{% endblock %}


