<!-- Yardım Gönüllüsü main sayfasıdır-->
{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/bootstrap-theme.css' %}"/>
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<body>
<!-- Header Bölümü -->
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Yardım Sitesi</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false"><i class="fa fa-user"></i> &nbsp;{{ request.user }} <span
                            class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="profilim.html">Profilim</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{% url 'auth_logout' %}">Çıkış</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- main tasarım -->
<div class="container-fluid">
    <div class="col-md-12">
        <div class="jumbotron">
            <div class="row">
                <div class="col-md-6"><a href="{% url 'comodo:post_create' %}"
                                         class="btn btn-success btn-lg btn-block" role="button">Hikayemi Ekle</a></div>
                <div class="col-md-6"><a href="{% url 'comodo:user_material_list' %}"
                                         class="btn btn-info btn-lg btn-block" role="button">Rezerve Ettiklerim</a></div>
                {#                <div class="col-md-4"><a href="{% url 'comodo:reserved_items' %}" class="btn btn-info btn-lg btn-block"#}
                {#                                         role="button">Rezerve Ettiklerim</a></div>#}
                {#                <div class="col-md-4"><button data-toggle="collapse" data-target="#hikaye" class="btn btn-success btn-lg btn-block">Hikayemi Ekle</button></div>#}
{#                <div class="col-md-6">#}
{#                    <button data-toggle="collapse" data-target="#rezerve_edilen" class="btn btn-info btn-lg btn-block">#}
{#                        Rezerve Ettiklerim#}
{#                    </button>#}
{#                </div>#}
{#                <div class="col-md-4">#}
{#                    <button data-toggle="collapse" data-target="#teslim_alinan"#}
{#                            class="btn btn-warning btn-lg btn-block">Teslim Aldıklarım#}
{#                    </button>#}
{#                </div>#}

                {#                <div class="col-md-4"><a href="{% url 'comodo:given_items' %}"#}
                {#                                         class="btn btn-warning btn-lg btn-block" role="button">Teslim Aldıklarım</a>#}

            </div>

            <div>

                {% block reserved_items %}
                {% endblock %}
{#                <table class="table">#}
{#                    <thead>#}
{#                    <tr>#}
{#                        <th>Malzeme Adi</th>#}
{#                        <th>Malzeme Sahibi</th>#}
{#                        <th>Malzeme Sayfasi</th>#}
{#                        <th>Malzeme Teslim Alindiysa?</th>#}
{#                    </tr>#}
{#                    </thead>#}
{#                    {% for material in materialList %}#}
{#                        {% if material.reserved_by == request.user and material.status == 1 %}#}
{##}
{#                            <tbody>#}
{#                            <tr class="success">#}
{#                                <td class="text-primary">{{ material.material_name }}</td>#}
{#                                <td class="text-primary">{{ material.user }}</td>#}
{#                                <td><a href="{% url 'comodo:yardim_detail' material.id %}"#}
{#                                       class="btn btn-danger btn-block"#}
{#                                       role="button">Tikla</a></td>#}
{#                                <td>#}
{#                                    <form method="post" action="{% url 'comodo:material_status_given' material.id %}">{% csrf_token %}#}
{##}
{#                                        <a href="{% url 'comodo:yardim_detail' material.id %}" class="btn btn-danger btn-block" role="button" type="submit">Tikla</a>#}
{#                                    </form></td>#}
{#                            </tr>#}
{#                            </tbody>#}
{##}
{#                        {% endif %}#}
{#                    {% endfor %}#}
{#                </table>#}
{#            </div>#}

{#            <div class="collapse" id="teslim_alinan">#}
{#                <table class="table">#}
{#                    <thead>#}
{#                    <tr>#}
{#                        <th>Teslim Alinan Malzeme Adi</th>#}
{#                        <th>Malzeme Sahibi</th>#}
{#                        <th>Malzeme Sayfasi</th>#}
{#                    </tr>#}
{#                    </thead>#}
{#                    {% for material in materialList %}#}
{#                        {% if material.given_to == request.user and material.status == 2 %}#}
{##}
{#                            <tbody>#}
{#                            <tr class="danger">#}
{#                                <td class="text-primary">{{ material.material_name }}</td>#}
{#                                <td class="text-primary">{{ material.user }}</td>#}
{#                                <td><a href="{% url 'comodo:yardim_detail' material.id %}"#}
{#                                       class="btn btn-danger btn-block"#}
{#                                       role="button">Tikla</a></td>#}
{#                            </tr>#}
{#                            </tbody>#}
{#                        {% endif %}#}
{#                    {% endfor %}#}
{#                </table>#}
            </div>

        </div>
          {% block hikaye %}
            {% endblock %}
        <br>

        <div class="row">
            {#                <form method="post">#}
            <!--Rezerve edilmedi veya edildi -->
            {% for material in materialList %}
                {% if material.status == 2 %}
                    <!-- Teslim edilenleri gosterme -->
                {% else %}
                    <!-- Rezerve edilen ve edilmeyenleri goster -->

                    <div class="col-md-3">
                        <a href="{% url 'comodo:yardim_detail' material.id %}" class="thumbnail"
                           data-toggle='tooltip' data-placement='bottom' title='{{ material.material_message }}'>
                            <p style="text-align: center;">{{ material.material_name }}</p>
                            <img src="{{ material.material_image.url }}" alt="Pulpit Rock"
                                 style="width:230px;height:230px"><br>
                            <!--Rezerve edilmemisse buton aktif -->
                            {% if material.status == 0 and material.user.city == request.user.city %}
                                <button name="btn_not_reserved" type="button" class="btn btn-primary active btn-block">
                                    Rezerve Et
                                </button>
                                <!-- Rezerve edilmisse buton pasif -->
                            {% elif  material.status == 1 and material.user.city == request.user.city %}
                                <button name="btn_reserved" type="button" class="btn btn-primary disabled btn-block">
                                    Rezerve Edildi
                                </button>
                            {% else %}

                            {% endif %}
                        </a>
                    </div>
                {% endif %}

            {% endfor %}
            {#                </form>#}
        </div>

    </div>
</div>

<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
</body>
</html>