<!-- Yardım Gönüllüsü main sayfasıdır-->
{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/bootstrap-theme.css' %}"/>
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
{#	<link rel="stylesheet" type="text/css" href="../static/css/custom.css">#}
{#	<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">#}
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
{#	<script src="../static/js/jquery.js"></script>#}
{#	<script src="../static/js/bootstrap.min.js"></script>#}
</head>
<body>
	<!-- Header Bölümü -->
	<nav class="navbar navbar-inverse">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span> 
	      </button>
            {% if request.user.user_status == 1 %}
	      <a class="navbar-brand" href="{% url 'comodo:index' %}">Yardım Sitesi</a>
            {% else %}
          <a class="navbar-brand" href="{% url 'comodo:yardim_sayfasi' %}">Yardım Sitesi</a>

            {% endif %}
	    </div>
	    <div class="collapse navbar-collapse" id="myNavbar">
	      	<ul class="nav navbar-nav navbar-right">
       			<li class="dropdown">
			        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user"></i> &nbsp;{{ request.user }} <span class="caret"></span></a>
			        <ul class="dropdown-menu">
				        <li><a href="{% url 'comodo:user_profile' %}">Profilim</a></li>
				       
				        <li role="separator" class="divider"></li>
				        <li><a href="#">Çıkış</a></li>
			        </ul>
			    </li>
     		</ul>
		</div>
	  </div>
	</nav>


<div class="container">
	<div class="well">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#home" data-toggle="tab">Profilim</a></li>
      <li><a href="#profile" data-toggle="tab">Parofil Bilgileri</a></li>
    </ul>
    <div id="myTabContent" class="tab-content">
      <div class="tab-pane active in" id="home">

{#        {% for info in profil_bilgisi %}#}

{#            {% if info.city == request.user.city %}#}
    {% for myuser in myuser_list %}
        {% if myuser.id == request.user.id %}
                    <h4 style="color: #1b6d85;">Kullanici Adi: </h4>
                    <p>{{ myuser.username }}</p>

                    <hr>
                    <h4>Email: </h4>
                    <p>{{ myuser.email }}</p>

                    <hr>
                    <h4>Yasadigi Sehir: </h4>
                    <p>{{ myuser.city }}</p>

                    <hr>
                    <h4>Email: </h4>
                    <p>{{ myuser.email }}</p>

                    <hr>

                    {% if myuser.user_status == 2 %}

                        <h4>Mesajiniz : </h4>
                    <p>{{ myuser.post.message }}</p>

                    <hr>

                        {% endif %}

        {% endif %}

          {% endfor %}

{#            {% endif %}#}

{#        {% endfor %}#}

      </div>
      <div class="tab-pane fade" id="profile">


          <form method="post" id="tab"><br>{% csrf_token %}
            <label>Kullanici Adiniz</label>
            <input type="text"  name="username" class="form-control"><br>
            <label>Soyadınız</label>
            <input type="text"  name="password" class="form-control"><br>
            <label>İliniz</label>
            <input type="text" name="city" class="form-control"><br>
            <label>Email</label>
            <input type="text" name="email" class="form-control"><br>
            <label>Hikayeniz</label>

            <textarea value="Smith" rows="3" class="form-control">takılıp duru napsın
            </textarea> <style> textarea.form-control
              {
                resize: vertical;
              } </style><br>

          	<div>
        	    <button class="btn btn-primary">Güncelle</button>
        	</div>
        </form>

      </div>
  </div>
</div>


	
</body>
</html>
